<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/cart.css">
{{>header}}
<div class="container-fluid my-4" style="width: 80%">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 17%; text-align: center;">Sản phẩm</th>
                <th style="width: 25%"></th>
                <th style="width: 21%; text-align: center;">Số lượng</th>
                <th style="width: 14%; text-align: center;">Đơn giá</th>
                <th style="width: 15%; text-align: center;">Thành tiền</th>
                <th style="width: 8%"></th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 80%"> </a>
                </th>
                <td>
                    <h3>Áo</h3>
                    <p>Size: L</p>
                </td>
                <td style="text-align: center;">
                    <div class="number-input" style="width: 80%;">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="1" name="quantity" value="1" type="number" disabled>
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                <td style="text-align: center;">@mdo</td>
                <td style="text-align: center;">@mdo</td>
                <td>
                    <a href="">
                        <span class="badge badge-danger">
                            <i class="ti-trash" style="font-size: 20px;"></i>
                        </span>
                    </a>
                </td>
            </tr>
            
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h3>Tổng</h3></td>
            <td class="text-right"><h3><strong>$31.53</strong></h3></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h5>Số điện thoại</h5></td>
            <td class="text-right">
              <input type="text">
            </td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
            <button type="button" class="btn btn-secondary">
                Tiếp tục mua sắm
            </button></td>
            <td>
            <button type="button" class="btn btn-danger">
                Thanh toán 
            </button></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){

    var quantitiy=0;
    $('.quantity-right-plus').click(function(e){
            
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
                
                $('#quantity').val(quantity + 1);

            
                // Increment
            
        });

        $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
        
                // Increment
                if(quantity>0){
                $('#quantity').val(quantity - 1);
                }
        });
        
    });
</script>
<!--
<div class="head">GIỎ HÀNG</div>
<div class="container-fluid giohang">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mặt hàng</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
<div class=" row nhapsdt">
  <div class="col col-half mt-50 sdt">Số điện thoại</div>
  <div class="col col-half mt-50">
    <input type="text">
  </div>
</div>
<div class="row tongsotien">
  <div class="col col-half mt-50 sotien">Tổng số tiền:</div>
  <div class="col col-half"></div>
</div>
<div class="row">
  <div class="col col-half">
    <input class="mt-50 huythanhtoan" type="submit" value="HỦY THANH TOÁN">
  </div>
  <div class="col col-half">
    <input class="mt-50 thanhtoan" type="submit" value="THANH TOÁN">
  </div>
</div>  
-->
{{>footer}}