<!DOCTYPE html> 
<html>
    <head>
        <title>html-css</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./assets/trangchu.css">
    </head>
    <body>   
          <div class="banhang">
            <p class="cuahang">CỬA HÀNG</p>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="member-item">
                <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
                <p class="member-name">Tên mặt hàng</p>
                <p class="giaca">Giá</p>
                <p class="soluong">Số lượng mua</p>
                <button class="themvaogio">Thêm vào giỏ hàng</button>
            </div>
            <div class="clear"></div>
        </div>
    
        <div class="xemhang" style="margin-top: 40px;">
          <input type="submit" class="xemgiohang" value="XEM GIỎ HÀNG">
        </div>
    </body>
</html>