<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/app.css">
{{>header}}

<div class="listing-section">
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://sc01.alicdn.com/kf/UT8.CaXX2NXXXagOFbXC/fresh-navel-oranges.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Orange</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious oranges!</p>
    <label for="item-1-quantity">Quantity:</label>
    <input type="number" name="item-1-quantity" id="item-1-quantity" value="1">
    <button type="button" name="item-1-button" id="item-1-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Apple</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious apples!</p>
    <label for="item-2-quantity">Quantity:</label>
    <input type="number" name="item-2-quantity" id="item-2-quantity" value="1">
    <button type="button" name="item-2-button" id="item-2-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Passionfruit</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious passionfruit!</p>
    <label for="item-3-quantity">Quantity:</label>
    <input type="number" name="item-3-quantity" id="item-3-quantity" value="1">
    <button type="button" name="item-3-button" id="item-3-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Pineapple</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious pineapples!</p>
    <label for="item-4-quantity">Quantity:</label>
    <input type="number" name="item-4-quantity" id="item-4-quantity" value="1">
    <button type="button" name="item-4-button" id="item-4-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Mango</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious mangos!</p>
    <label for="item-5-quantity">Quantity:</label>
    <input type="number" name="item-5-quantity" id="item-5-quantity" value="1">
    <button type="button" name="item-5-button" id="item-5-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Coconut</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious coconuts!</p>
    <label for="item-6-quantity">Quantity:</label>
    <input type="number" name="item-6-quantity" id="item-6-quantity" value="1">
    <button type="button" name="item-6-button" id="item-6-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Banana</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious bananas!</p>
    <label for="item-7-quantity">Quantity:</label>
    <input type="number" name="item-7-quantity" id="item-7-quantity" value="1">
    <button type="button" name="item-7-button" id="item-7-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Plum</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious plums!</p>
    <label for="item-8-quantity">Quantity:</label>
    <input type="number" name="item-8-quantity" id="item-8-quantity" value="1">
    <button type="button" name="item-8-button" id="item-8-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Avocado</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious avocados!</p>
    <label for="item-9-quantity">Quantity:</label>
    <input type="number" name="item-9-quantity" id="item-9-quantity" value="1">
    <button type="button" name="item-9-button" id="item-9-button">Add to Cart</button>
    </div>
</div>
<div class="product">
    <div class="image-box">
        <img class="product-img" src="https://sc01.alicdn.com/kf/UT8.CaXX2NXXXagOFbXC/fresh-navel-oranges.jpg" alt="">
    </div>
    <div class="text-box">
    <h2 class="item">Lemon</h2>
    <h3 class="price">$4.99</h3>
    <p class="description">A bag of delicious lemons!</p>
    <label for="item-10-quantity">Quantity:</label>
    <input type="number" name="item-10-quantity" id="item-10-quantity" value="1">
    <button type="button" name="item-10-button" id="item-10-button">Add to Cart</button>
    </div>
</div>
</div>
<div style="clear: both;"></div>
{{>footer}}
  
  
<!--
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/trangchu.css">
<div class="container-fluid">
    <p class="cuahang">CỬA HÀNG</p>
    <div class="member-item">
        <a href="#">
            <img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" alt="Thời trang Bách Khoa" class="product">
        </a>
        <div class="product-detail my-2 px-2">
            <span class="d-inline-block text-truncate product-name" style="max-width: 150px;">
                <a href="">
                    Áo Thun Nam Y2010 Basic Z02
                </a>
            </span>
            <p>
                <span>150,000đ</span>
                <span>
                    <del style="opacity: 0.5;">200,000đ</del>
                </span>
            </p>
            <button class="themvaogio">Thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="member-item">
        <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
        <p class="member-name">Tên mặt hàng</p>
        <p class="giaca">Giá</p>
        <p class="soluong">Số lượng mua</p>
        <button class="themvaogio">Thêm vào giỏ hàng</button>
    </div>
    <div class="member-item">
        <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
        <p class="member-name">Tên mặt hàng</p>
        <p class="giaca">Giá</p>
        <p class="soluong">Số lượng mua</p>
        <button class="themvaogio">Thêm vào giỏ hàng</button>
    </div>
    <div class="member-item">
        <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
        <p class="member-name">Tên mặt hàng</p>
        <p class="giaca">Giá</p>
        <p class="soluong">Số lượng mua</p>
        <button class="themvaogio">Thêm vào giỏ hàng</button>
    </div>
    <div class="member-item">
        <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
        <p class="member-name">Tên mặt hàng</p>
        <p class="giaca">Giá</p>
        <p class="soluong">Số lượng mua</p>
        <button class="themvaogio">Thêm vào giỏ hàng</button>
    </div>
    <div class="member-item">
        <img src="./assets/img/anh/anhtheband.jpg" alt="" class="member-anh">
        <p class="member-name">Tên mặt hàng</p>
        <p class="giaca">Giá</p>
        <p class="soluong">Số lượng mua</p>
        <button class="themvaogio">Thêm vào giỏ hàng</button>
    </div>
    <div class="clear"></div>
</div>

<div class="xemhang" style="margin-top: 40px;">
    <input type="submit" class="xemgiohang" value="XEM GIỎ HÀNG">
</div>
-->