<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/app.css">
{{>header}}

<div class="container">

    <button id="cartBtn" class="btn btn-primary col-3" data-toggle="modal" data-target="#exampleModal">Xem giỏ hàng</button>
    <button onclick="location.href='/admin/banhang/quanlymathang'" class="btn btn-primary col-3">Quản lý mặt hàng</button>
    <div class="listing-section">
        {{#each products}}
            <div class="product">
                <div class="image-box">
                    <img class="product-img" src="/{{this.imageUrl}}" alt="">
                </div>
                <div class="text-box">
                    <h2 class="item">{{this.name}}</h2>
                    <h3 class="price">{{this.price}}</h3>
                    {{!-- <p class="description">A bag of delicious oranges!</p>
                    <label for="item-1-quantity">Quantity:</label>
                    <input type="number" name="item-1-quantity" id="item-1-quantity" value="1"> --}}
                    <button type="button" name="item-1-button" id="item-1-button" >Add to Cart</button>
                </div>
            </div>
        {{/each}}
    </div>
    <div style="clear: both;"></div>

   
    {{!-- Modal --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên mặt hàng</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
                
                <div style="text-align: center;">
                    <h4>Tổng số tiền: 300000</h4>
                    <div class="row justify-content-center">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="phoneNumInput">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Thanh toán</button>
            </div>
            </div>
        </div>
    </div>

</div>

{{>footer}}