{{>header}}

<link rel="stylesheet" href="css/csvc.css">
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
>
<div class="container-fluid my-4" style="width: 80%">
    <h2 class="my-4" style="color: red;">Sửa thông tin cơ sở vật chất</h2>
    <form>
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-3">
                    <div class="label">
                        Mã dụng cụ
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Tên dụng cụ
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Tình trạng
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Khu vui chơi
                        <span></span>
                        <small></small>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-control">
                        <input type="text" class="infor" disabled value="101">
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="text" class="infor" disabled value="Bóng đèn">
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="text" class="infor" disabled value="Tốt">
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="text" class="infor" disabled value="Khu A">
                        <span></span>
                        <small></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="img-upload" style="margin-top: 40px;">
                <label for="input-img" class="preview" id="preview">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span>Tải lên ảnh</span>
                </label>
                <input type="file" class="infor" hidden id="input-img" disabled>
            </div>
        </div>
    </div>
    <div class="row" id="page1">
        <div class="col">
            <div class="container-fluid btn-option" id="update" style="width: 60%">Sửa thông tin</div>
            <div class="container-fluid hide" id="save" style="width: 68%">
                <input type="submit" value="Lưu thông tin">
            </div>
        </div>
        <div class="col">
            <div class="container-fluid btn-option" id="delete" style="width: 60%">Xoá dụng cụ</div>
            <div class="container-fluid btn-option hide" id="back" style="width: 60%">Quay lại</div>
        </div>
    </div>
    </form>
</div>

<script>
    const inputImg1 = document.querySelector('#input-img')

    inputImg1.addEventListener('change', (e) => {
        let file = e.target.files[0];

        if (!file) return;

        let img = document.createElement('img');
        img.src = URL.createObjectURL(file);

        document.querySelector('#preview').appendChild(img);
    })
</script>

<script>
    const updateBtn = document.querySelector('#update');
    const deleteBtn = document.querySelector('#delete');
    const saveBtn = document.querySelector('#save');
    const backBtn = document.querySelector('#back');
    const infor = document.querySelectorAll('.infor');

    updateBtn.addEventListener('click', function() {
        updateBtn.classList.add('hide');
        deleteBtn.classList.add('hide');
        saveBtn.classList.remove('hide');
        backBtn.classList.remove('hide');
        for(var i = 0; i < 5; i++) {
            infor[i].removeAttribute("disabled");
        }
    })

    backBtn.addEventListener('click', function() {
        updateBtn.classList.remove('hide');
        deleteBtn.classList.remove('hide');
        saveBtn.classList.add('hide');
        backBtn.classList.add('hide');
        for(var i = 0; i < 5; i++) {
            infor[i].disabled = true;
        }
    })
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{>footer}}
