<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">

{{>header}}

<div class="container-fluid my-4" style="width: 70%">
        <h2 class="my-4" style="color: red;">THÊM KHÁCH HÀNG VIP</h2>
        <form method="post" action="/admin/vip/store">
            <div class="row">
            <div class="col-3">
                <div class="label">
                    Tên khách hàng
                    <span></span>
                    <small></small>
                </div>
                <div class="label">
                    Số điện thoại
                    <span></span>
                    <small></small>
                </div>
                <div class="label">
                    Địa chỉ
                    <span></span>
                    <small></small>
                </div>
                <div class="label">
                    Email
                    <span></span>
                    <small></small>
                </div>
            </div>
            <div class="col-9">
                <div class="form-control">
                    <input type="text" class="infor" name="name" value="101">
                    <span></span>
                    <small></small>
                </div>
                <div class="form-control">
                    <input type="text" class="infor" name="phoneNumber" value="Bóng đèn">
                    <span></span>
                    <small></small>
                </div>
                <div class="form-control">
                    <input type="text" class="infor" name="address" value="Tốt">
                    <span></span>
                    <small></small>
                </div>
                <div class="form-control">
                    <input type="text" class="infor" name="email" value="Khu A">
                    <span></span>
                    <small></small>
                </div>
            </div>
            </div>
            {{#if err}}
            <p style="text-align: center; color: red;">Số điện thoại hoặc email đã được sử dụng</p>
            {{/if}}
            <div class="row">
                <div class="col">
                    <a href="/admin/vip" style="text-decoration: none;">
                        <div class="container-fluid btn-option" style="width: 50%; padding: 13px 0">Quay lại</div>
                    </a>
                </div>
                <div class="col" style="text-align: center;">
                    <input type="submit" value="Thêm khách hàng" style="width: 60%;"></input>
                </div>
            </div>
            <!--
            <div style="text-align: center;">
                <input type="submit" value="Thêm khách hàng" style="width: 20%;"></input>
            </div>
            -->
        </form>
    </div>

    {{#if success}}
        <div class="my-modal">
            <div class="modal__inner sticky-top">
                <div class="modal__header">
                    <h5>Tinker Bell Garden</h5>
                    <i class="fas fa-times"></i>
                </div>
                <div class="modal__body">
                    <h4>Đăng ký khách hàng VIP thành công</h4>
                </div>
                <div class="modal__footer">
                    <a href="/admin/vip" style="text-decoration: none;">
                        <button>Tiếp tục</button>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
      
 {{>footer}}

