*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* đổi font chữ */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}


.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

/* cố định header */
#header{
    height: 46px;
    background-color:black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}


/* Chuyển dọc sang ngang */
#nav li{
    display: inline-block;
    position: relative;
}

#nav>li>a{
    color: white;    
}
/* dòng 2: bỏ gạch chân 
   dòng 3 căn chữ giữa box
   dòng 5 chỉ vào đổi màu cả ô*/
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

/* chỉ vào đổi màu chữ  */
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3)
}

#nav .subnav a{
    color: black;
}

#nav li:hover .subnav{
    display: block;
}


#slider{
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    background: url('/lpy/assets/img/anhkhuvuichoi1.jpg') top center / cover no-repeat
}

#slider .text-slider{
    position: absolute;
    bottom: 47px;
    text-align: center;
    color: #fff;
    width: 100%;
}

/* dòng 1: chữ mỏng đi */
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-mota{
    font-size: 15px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .content-sections{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 25px; 
    color: red; 
}

#content .section-head{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    /* letter-spacing: 4px; */
    margin-bottom: 25px; 
    color:rgb(236, 55, 55)
}

#content .section-motaheading{
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .noidungTHEBAND{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}


#content .anhthanhvien{
    margin-top: 48px;
}

#content .member-item{
    float: left;
    width: 330px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#content .member-name{
    font-size: 15px;   
}

#content .member-anh{
    width: 300px;
    border-radius: 4px;
}

#content .member-anh2{
    width: 340px;
    border-radius: 4px;
}

#content .member-anh3{
    width: 320px;
    border-radius: 4px;
}

.tour-section{
    background-color: rgb(236, 55, 55);
}

.ticket-list{
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.ticket-list .soldout{
    background-color: red;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.place-list{
    margin-top: 32px;
    padding-bottom: 32px;
}


/* chỉnh ảnh ko vượt quá thẻ div  */
.place-img{
    width: 100%;
    display: block;
}

.place-img2{
    width: 377px;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 18px;
}

.place-time{
    margin-top: 15px;
}

.place-discription{
    margin-top: 15px;
    line-height: 1.4;
}

.buybutton{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.buybutton:hover{
    color: #000;
    background-color: #ccc;
}

.thongtin{
    border: none;
    background-color: white;
    color: #009688;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.thongtinkhuyenmai{
    line-height: 1.4;
    font-size: 18px;
}
.thongtinkm{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.thongtinkm.open{
    display: flex;
}

.ttkvc{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.ttkvc.open{
    display: flex;
}

.dkvip{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.dkvip-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.dkvip-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.gioithieuuudai{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
    margin-left: 8px;
}

.uudai{
    margin-left: 16px;
    margin-bottom: 8px;
}

.ttdipdb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.ttdipdb.open{
    display: flex;
}

.thongtindipdb{
    border: none;
    background-color: white;
    color: #009688;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.gioithieuuudai{
    font-size: 20px;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.modal-heading { 
    background: #ee183c;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.modaldb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modaldb.open{
    display: flex;
}

.modal-containerdb{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.modal-headerdb {
    background: #ee183c;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icondb{
    margin-right: 16px;
}

.modal-closedb{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-bodydb{
    padding: 16px;
}

.modal-labeldb{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-inputdb{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-ticket{
    background: #ee183c;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-ticket:hover{
    opacity: 0.8;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196f3;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
} 

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right ;
}

.map-section img{
    width: 100%;
}

.footer{
    padding: 64px 16px;
    text-align: center;
}

.footer .social-netwwork{
    font-size: 24px;
}

.footer .social-netwwork a{
    color:rgba(0,0,0, 0.6);
    text-decoration: none;
}

.footer .social-netwwork a:hover{
    color: rgba(0,0,0, 0.4);
}

.footer .bot{
    margin-top: 15px;
    color: rgba(0,0,0, 0.6);
}

.cangiua{
    text-align: center;
}