/*Header*/
.logo {
    max-width: 16vw;
    height: auto;
}

.nav-link {
    padding: .2rem 1rem;
    font-size: 18px;
    color: red !important;
    font-weight: 500;
}

.nav-link:hover {
    opacity: 0.5;
}

.item-hover {
    margin-bottom: 0;
    width: 50%;
    size: 5px;
    align-items: center;
    background-color: red;
}

.hide {
    display: none;
}

/* dang nhap */
input[type='submit'] {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #cc444f;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #ec0a15;
}

/*Footer*/
.footerall {
    background-color: red;
    color: white;
    margin-top: 93px;
}

.footerall2 {
    background-color: red;
    color: white;
    margin-top: 70px;
}

.footer {
    background-color: red;
    color: white;
}
  
.footer a {
    color: white;
    font-size: 14px;
    transition-duration: 0.2s;
}
  
.footer a:hover {
    color: black;
    text-decoration: none;
}
  
.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}
  
.footer-middle {
    padding-top: 2em;
    color: white;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
  
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
  
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
  
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
  
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}
  
.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}
  
.social-circle li a:hover i{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
  
.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
  
.social-network a {
    background-color: #F9F9F9;
}

#h1 {
    color: brown;
    font-size: x-large;
    margin-top: 10px;
}

#p {
    color: black;
    font-size: large;
    margin-top: 50px;
}

.button_xem_chi_tiet {
    background-color: #B12B2B;
    color: white;
    border-radius: 30px;
    border: 2px solid black;
    transition-duration: 0.5s;
}
.button_xem_chi_tiet:hover {
    background-color: yellowgreen; /* Green */
    color: white;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.19);
}

.button_them_kh_vip {
    background-color: #0D4F10;
    color: white;
    padding: 10px 15px;
    margin: 0px 0px 20px 20px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 6px 10px 1px rgba(0,0,0,0.2);
    transition-duration: 0.1s;
}
.button_them_kh_vip:hover {
    background-color: brown;
    color: white;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.19);
}

.button_luu_kh_vip {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    margin: 0px 0px 20px 20px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 6px 10px 1px rgba(0,0,0,0.2);
    transition-duration: 0.1s;
}
.button_luu_kh_vip:hover {
    background-color: yellowgreen;
    color: white;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.19);
}

.settable {
    color: brown;
    border: 2px solid lavender;
    border: 5px ;
}
.set_thead {
    background-color: lightblue;
}
.set_tbody {
    color: black;
}

.setcolor {
    color: white;
}

/* modal */
.modal {
    display: none;  /*mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 1; /* Ưu tiên hiển thị trên cùng */
    padding: 200px 500px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
 
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Button Cancel */
.btn_cancel {
    padding: 10px 25px;
    margin: 80px 80px 10px 0;
}