/* .banhang{
    clear: both;
} */

.member-item{
    float: left;
    width: 16.666666%;
   margin-top: 48px;
}

.cuahang{
    padding-left: 50px;
    font-weight: 600;
    font-size: 30px;
}

.member-anh{
    width: 154px;
    border-radius: 4px;
}

.anhthanhvien{
    margin-top: 48px;
}

.themvaogio{
    text-align: center;
	margin-top: 5px;
	width: 90%;
	padding: 10px 0; 
	border: 1px solid;
	background: #c43030;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

.themvaogio:hover {
    background-color: #c90b0b;
}

/* .table{
    width: 90%;
} */

.clear{
    clear: both;
}

.xemhang{
    text-align: center;
    clear: both;
    padding-top: 50px;
}

.xemgiohang{
    background-color:  green;
    color: white;
    cursor: pointer;
    font-size: 28px;
    border: 1px solid;
}
