<div class="footer" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
        <div class="row">
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
            <h4>Về chúng tôi</h4>
            <ul class="list-unstyled">
                <li>Khu giải trí số 1 thế giới</li>
            </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
            <h4>Hỗ trợ khách hàng</h4>
            <ul class="list-unstyled">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
            </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
            <h4>Thông tin liên hệ</h4>
            <ul class="list-unstyled">
                <li>Số 1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</li>
                <li>0123456789</li>
                <li>cskh@hust.edu.vn</li>
                <li>
                <a href="#"></a>
                </li>
            </ul>
            </div>
        </div>
            <div class="col-md-3">
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="ti-facebook"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="ti-instagram"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="ti-twitter-alt"></i></a></li>
                </ul>				
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copy">
                <p class="text-center">&copy; Copyright 2022 - Tinker Bell Garden.  All rights reserved.</p>
            </div>
        </div>
    
    
    </div>
    </div>
</div>