<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <h1>Đổi Mật Khẩu</h1>
    <form method = "POST" action = "/changepassword" >
    <div class="form-control">
        <input type="text" id="current-password" name = "currentPassword" placeholder="Mật khẩu hiện tại" />
        <span></span>
        <small></small>
    </div>
    
    <div class="form-control">
        <input type="password" id="next-password"  name = "nextPassword" placeholder="Mật khẩu mới" />
        <span></span>
        <small></small>
    </div>

    <div class="form-control">
        <input type="password" id="confirm-password"  name = "confirmPassword" placeholder="Nhập lại mật khẩu" />
        <span></span>
        <small></small>
    </div>
    <input type="submit" value="Xác nhận" />
    <br><br>
    </form>
</div>

