{{>header}}
<link rel="stylesheet" href="/css/home.css">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="./assets/img/anhkhuvuichoi1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/newyork.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./assets/img/paris.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        <div id="content">
            <div class="content-sections">
                <h2 class="section-heading">TINKERBELLGARDEN</h2>
                <h3 class="section-head">Thông tin và giới thiệu</h3>
                
                <div class="anhthanhvien">
                    <div class="member-item">
                        <img src="./assets/img/khu-vui-choi-giai-tri-cho-tre-em-o-sai-gon.jpg" alt="" class="member-anh">
                        <button class="js-thongtinkvc thongtin">Thông tin khu vui chơi Kinderbellgarden</button>
                        <p class="thongtinkhuyenmai">Là một trong các khu vui chơi giải trí hàng đầu Việt Nam, Kinderbellgarden có diện tích rộng lớn và nhiều khu trò chơi cho các bé</p>
                    </div>
                    <div class="member-item">
                        <img src="./assets/img/anh/khu-vui-choi-kolorado.webp" alt="" class="member-anh2">
                        <button class="js-dkvip thongtin">Đăng kí VIP để nhận nhiều ưu đãi hấp dẫn</button>
                        <p class="thongtinkhuyenmai">Khi đến khu vui chơi, ba mẹ có thể đăng kí trở thành khách hàng VIP và nhận nhiều ưu đãi khi cho con đến tham gia vui chơi[...]</p>
                    </div>
                    <div class="member-item">
                        <img src="./assets/img/anh/Tet-124.jpg" alt="" class="member-anh3">
                        <button class="thongtin js-dipdacbiet">Khuyến mãi hấp dẫn vào các dịp đặc biệt</button>
                        <p class="thongtinkhuyenmai">Vào mỗi dịp đặc biệt, khu vui chơi TINKERBELLGARDEN đưa đến khuyến mãi hấp dẫn...[]</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="tour-section">
                <div class="content-section">
                    <h2 class="section-heading text-white">ĐẶT VÉ ONLINE</h2>
                    <p class="section-motaheading text-white">Remember to book your tickets!</p>
                    <ul class="ticket-list">
                        <li>Sự kiện <span class="quantity">0</span></li>
                    </ul>

                    <!-- chỗ mua vé -->
                <div class="row place-list">
                    <div class="col col-half">
                        <img src="./assets/img/anh/khu-vui-choi-ha-noi-nemtv-12.jpg" alt="New York" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">Đặt vé online</h3>
                                <p class="place-time">Đăng kí đặt vé online ngay</p>
                                <button class="buybutton js-buy-ticket" >Buy Tickets</button>
                            </div>
                        </div>
                        <div class="col col-half">
                            <img src="./assets/img/anh/chup-anh-khu-vui-choi-tre-em-516family-3-1536x1020.jpg" alt="New York" class="place-img2">
                            <div class="place-body">
                                <h3 class="place-heading">Sự kiện đặc biệt</h3>
                                <p class="place-time">Đăng kí đặt vé sự kiện đặc biệt ngay</p>
                                <button class="buybutton js-buy-ticket-db" >Buy Tickets</button>
                            </div>
                        </div>
                        <div class="clear"></div> 
                    </div>
                </div>
                
            </div>

            <div class="content-section">
                <h2 class="section-heading">CONTACT</h2>
                <p class="section-motaheading">Drop a note!c</p>

                <div class="row contact-content">
                    <div class="col col-half contact-info">
                        <p><i class="ti-location-pin"></i>Hà Nội, VN</p>
                        <p><i class="ti-mobile"></i>Phone: +00 151515</p>
                        <p><i class="ti-email"></i>Email: mail@mail.com</p>
                    </div>
                    <div class="col col-half contact-form">
                        <form action="">
                            <div class="row">
                                <div class="col col-half">
                                    <input type="text" name="" placeholder="Name" required id="" class="form-control">                          
                                </div>
                                <div class="col col-half">
                                    <input type="email" name="" placeholder="Email" required id="" class="form-control">                          
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row mt-8">
                                <div class="col col-full">
                                    <input type="text" name="" placeholder="Massage" required id="" class="form-control">                          
                                </div>
                            </div>
                            <input class="form-submit-btn mt-16" type="submit" value="SEND"> 
                        </form>
                    </div>
                </div>
            </div>
            <div class="map-section">
                <img src="./assets/img/map.jpg" alt="Map">
            </div>

        </div>
        <div class="footer">
            <div class="social-netwwork">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-pinterest"></i></a>
                <a href=""><i class="ti-twitter"></i></a>
                <a href=""><i class="ti-linkedin"></i></a>
            </div>
            <p class="bot">Powered by <a href="" class="">w3.css</a></p>
        </div>
    
        <div class="modal js-model">

            <div class="modal-container js-modal-container">
                <div class="modal-close js-modal-close">
                    <i class="ti-close"></i>
                </div>

                <header class="modal-heading">
                     <i class="modal-heading-icon ti-bag"></i>
                     ĐẶT MUA VÉ ONLINE
                </header>

                <div class="modal-body">
                    <form method="post" action="/dangkyonline">
                        <label for="quantity" class="modal-label">
                            TÊN
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="name" placeholder="Name" required>
    
                        <label for="quantity" class="modal-label">
                            Số điện thoại
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="phoneNum" placeholder="PhoneNumber" required>
    
                        <label for="quantity" class="modal-label">
                            Email
                        </label>
                        <input id="quantity" type="email" class="modal-input" name="email" placeholder="Email">
    
                        <label for="quantity" class="modal-label">
                            Số vé chơi theo giờ (100.000đ/vé) (2 giờ chơi)
                        </label>
                        <input id="quantity" type="number" class="modal-input" name="numberOfTwoHoursTicket" placeholder="timeTicketNum" required>
    
                        <label for="quantity" class="modal-label">
                            Số vé Không giới hạn (200.000đ/vé)
                        </label>
                        <input id="quantity" type="number" class="modal-input" name="numberOfUnlimitedTicket" placeholder="noLimitTicketNum" required>

                        <input type="submit" id="buy-ticket" value="Đặt vé" >
                    </form>
                </div>
            </div>
        </div>

        <div class="modaldb js-model-db">

            <div class="modal-containerdb js-modal-container-db">
                <div class="modal-closedb js-modal-close-db">
                    <i class="ti-close"></i>
                </div>

                <header class="modal-headerdb">
                     <i class="modal-heading-icondb ti-bag"></i>
                     ĐẶT MUA VÉ SỰ KIỆN ĐẶC BIỆT
                </header>

                <div class="modal-bodydb">
                    <form action="">
                        <label for="quantity" class="modal-labeldb">
                            TÊN
                        </label>
                        <input id="quantity" type="text" class="modal-inputdb" placeholder="Name" required>
    
                        <label for="quantity" class="modal-labeldb">
                            Số điện thoại
                        </label>
                        <input id="quantity" type="text" class="modal-inputdb" placeholder="PhoneNumber" required>
    
                        <label for="quantity" class="modal-labeldb">
                            Email
                        </label>
                        <input id="quantity" type="email" class="modal-inputdb" placeholder="Email">
    
                        <label for="quantity" class="modal-labeldb">
                            Số vé chơi theo giờ (100.000đ/vé) (2 giờ chơi)
                        </label>
                        <input id="quantity" type="number" class="modal-inputdb" placeholder="timeTicketNum" required>
    
                        <label for="quantity" class="modal-labeldb">
                            Số vé Không giới hạn (200.000đ/vé)
                        </label>
                        <input id="quantity" type="number" class="modal-inputdb" placeholder="noLimitTicketNum" required>
    
                        <input type="submit" id="buy-ticket" value="Đặt vé" >
                    </form>
                </div>

            </div>
        </div>

        <div class="thongtinkm js-thongtinkm">
            <div class="dkvip js-dkvip-container">
                <div class="dkvip-close js-dkvip-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">
                    ƯU ĐÃI KHI TRỞ THÀNH VIP
                </header>
                <div class="gioithieuuudai">Chỉ với 400.000/năm, bố mẹ có thể đăng kí trở thành khách hàng VIP của chúng tôi và nhận được các ưu đãi hấp dẫn sau khi cho con đến tham gia khu vui chơi:</div>
                <div class="uudai">+ Giảm 20% giá vé vào cửa khu vui chơi với cả 2 loại vé: vé chơi theo ngày và vé chơi theo giờ</div>
                <div class="uudai">+ Giảm 20% giá các sản phẩm khi mua tại khu vui chơi: tượng, tranh cát,...</div>
                <div class="uudai">+ Tích điểm mỗi khi mua vé để nhận các ưu đãi giảm giá</div>
            </div>
        </div>

        <div class="ttdipdb js-dipdb">
            <div class="dkvip js-dipdb-container">
                <div class="dkvip-close js-dipdb-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">ƯU ĐÃI KHI ĐẶT MUA VÉ SỰ KIỆN ĐẶC BIỆT</header>
                <div class="gioithieuuudai">Vào các dịp đặc biệt trong năm như Tết dương lịch, Tết Trung thu, Ngày quốc tế thiếu nhi,... khu vui chơi TINKERBELLGARDEN tổ chức các sự kiện đặc biệt hấp dẫn dành cho các bé.</div>
                <div class="gioithieuuudai">Đặc biệt, nếu các bậc phụ huynh đặt mua vé online các sự kiện đặc biệt sẽ được hưởng các ưu đãi hấp dẫn sau:</div>
                <div class="uudai">+ Giảm 20% giá vé vào cửa khu vui chơi với cả 2 loại vé: vé chơi theo ngày và vé chơi theo giờ</div>
                <div class="uudai">+ Quà lưu niệm khi đến tham gia khu vui chơi</div>
                <div class="uudai">Hãy nhanh tay vì trong mỗi sự kiện, chỉ 50 khách hàng đăng kí sớm nhất có thể nhận được ưu đãi</div>
            </div>
        </div>
        
        <div class="ttkvc js-ttkvc">
            <div class="dkvip js-ttkvc-container">
                <div class="dkvip-close js-ttkvc-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">abc</header>
            </div>
        </div>

        <script>
            const buyBtns = document.querySelectorAll('.js-buy-ticket')
            const modal = document.querySelector('.js-model')
            const modalcontainer = document.querySelector('.js-modal-container')
            const modalclose = document.querySelector('.js-modal-close')

            const buyBtndb = document.querySelector('.js-buy-ticket-db')
            const modaldb = document.querySelector('.js-model-db')
            const modalcontainerdb = document.querySelector('.js-modal-container-db')
            const modalclosedb = document.querySelector('.js-modal-close-db')

            const dkvip = document.querySelector('.js-dkvip')
            const thongtinkm = document.querySelector('.js-thongtinkm')
            const dkvipclose = document.querySelector('.js-dkvip-close')
            const dkvipcontainer = document.querySelector('.js-dkvip-container')

            const dipdacbietbtn = document.querySelector('.js-dipdacbiet')
            const dipdb = document.querySelector('.js-dipdb')
            const dipdbcontainer = document.querySelector('.js-dipdb-container')
            const dipdbclose = document.querySelector('.js-dipdb-close')

            const thongtinkvc = document.querySelector('.js-thongtinkvc')
            const ttkvc = document.querySelector('.js-ttkvc')
            const ttkvccontainer = document.querySelector('.js-ttkvc-container')
            const ttkvcclose = document.querySelector('.js-ttkvc-close')


            function showttkvc(){
                ttkvc.classList.add('open')
            }

            function hidettkvc(){
                ttkvc.classList.remove('open')
            }

            function showdkvip(){
                thongtinkm.classList.add('open')
            }
            function hidedkvip(){
                thongtinkm.classList.remove('open')
            }

            function showbuyticket(){
                modal.classList.add('open')
            }
            function hidebuyticket(){
                modal.classList.remove('open')
            }
            
            function showbuyticketdb(){
                modaldb.classList.add('open')
            }
            function hidebuyticketdb(){
                modaldb.classList.remove('open')
            } 

            function showdipdb(){
                dipdb.classList.add('open')
            }

            function hidedipdb(){
                dipdb.classList.remove('open')
            }

            for(const buyBtn of buyBtns) {
                buyBtn.addEventListener('click', showbuyticket)
            }

            dkvip.addEventListener('click',showdkvip)
            dkvipclose.addEventListener('click',hidedkvip)
            thongtinkm.addEventListener('click', hidedkvip)

            dipdacbietbtn.addEventListener('click',showdipdb)
            dipdbclose.addEventListener('click', hidedipdb)
            dipdb.addEventListener('click',hidedipdb)

            modalclose.addEventListener('click', hidebuyticket)
            modal.addEventListener('click', hidebuyticket)

            buyBtndb.addEventListener('click', showbuyticketdb)
            modalclosedb.addEventListener('click', hidebuyticketdb)
            modaldb.addEventListener('click', hidebuyticketdb)

            thongtinkvc.addEventListener('click', showttkvc)
            ttkvcclose.addEventListener('click', hidettkvc)
            ttkvc.addEventListener('click', hidettkvc)

            modalcontainer.addEventListener('click', function(event){
                event.stopPropagation()
            })
            
            dipdbcontainer.addEventListener('click', function(event){
                event.stopPropagation()
            })

            dkvipcontainer.addEventListener('click', function (event){
                event.stopPropagation()
            })

            ttkvccontainer.addEventListener('click', function (event){
                event.stopPropagation()
            })
            
        </script>

{{> footer}}

